@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,500,700');
body {
    font-family: Google Sans;
}

@media only screen and (max-width: 640px) {
    
    span.time {
        display: none;
    }
}

.top-heading
{
    padding-top: 4%;
    padding-bottom: 3%;
}

#chat-input
{
    padding-top: 4%; 
}

#chat-box
{
    scroll-behavior: smooth;
    max-height: 300px;
    overflow-y: auto;
    padding: 1rem
}