@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,500,700');

body {
    font-family: Google Sans;
}

@media only screen and (max-width: 640px) {
    /* Hide time field on mobile screens */
    li #time {
        display: none;
    }
}

.top-heading
{
    padding-top: 4%;
    padding-bottom: 4%;
}

#chat-input
{
    padding-top: 2%; 
}

#chat-box
{
    scroll-behavior: smooth;
    max-height: 220px;
    overflow-y: auto;
}